body{
	font-family: fangsong;
	
}

.logoPictureConnexion{
    width: 43px;
    position: absolute;
    top: 4px;
    left: 50%;
}

#navConnexion{
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    height: 50px;
    margin-bottom:50px;
}

#loginForm\:j_idt50 {
	padding-top:35px;
}

.navbar{
	height:100px;
	padding-right:5%;
	padding-left: 5%;
}

#j_idt40{
	margin-bottom:0px;
}

.navbar-nav{
	float: left;
    margin: 1px;
    padding-top: 22px;
    font-size: 19px;
}
 
.logoNavbar {
	height:80px;
	float : left;
	position: relative;
	top: -16%;
	left:-6%;
	margin-right: 1rem;
}

#article1{
	background-image: url('/pictures/picture.png');
}

#parque{
	width:100%;
}


#parque img{
	width: 100%;
	height: 700px;
}

.article{
	 border:solid; 
	 border-width: thin;  
	 border-color: lightgrey; 
	 height:348px; 
	 width: 269px; 
	 margin-left:10px; 
	 margin-right:10px; 
	 margin-bottom:43px;
}

.article:hover{
	border-color:#ffbc0d;
	border-width:medium;
}

.productImage{
	height:152px;
	margin-top:49px;
	margin-bottom: 30px;
	padding-left: 25px;
    padding-right: 25px;
}


.navBarCategory{
    height: 80px;
    padding-top: 22px;
    text-align: center;
}

.productTitle{
	text-align:center;
}

.titleCategory{
   	text-transform: capitalize;
    margin-bottom: 50px;
}

.productDetails{
	margin-top: 70px;
}

.productDetailsPicture{
	padding-right: 80px;
}

.productDetailsTitle{
    margin-bottom: 30px;
}

.productDetailsDescription{
	margin-bottom:20px;
	width: 90%;
}

.quantity{
	margin-top: 20px;
    margin-bottom: 30px;
}

.quantityTitle{
	margin-right:20px;
}

body .ui-button {
    color: #6c757d;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
}

body .ui-spinner .ui-spinner-input {
	width:60px;
}

.ui-spinner-input{
	text-align:center;
}

.modal-body{
	padding:35px;
}

#amodal{
	font-size:16px;
}

#amodal_Label{
	font-size:30px;
}

.finalizePurchase{
	text-align:center;
}

#dropMenuAccount > ul{
	padding:10px;
}

a:focus{
	outline:none; 
}


