<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" position="last" />
</h:head>

<h:body>
	<b:modal id="amodal" title="Votre panier" styleClass="modalPseudoClass">
		<b:form id="cartForm">
			<c:forEach items="${mbPurchase.cart.itemList}" var="item">
				<b:row style="margin-bottom: 10px">
					<b:column col-xs="2" col-lg="2">
						<p:spinner value="#{item.quantity}" min="1" max="50">
							<p:ajax event="change"
								listener="#{mbPurchase.updatePriceItem(item)}"
								update="@form totalPrice" />
						</p:spinner>
					</b:column>
					<b:column col-xs="4" col-lg="4">
						<p>#{item.product.name}</p>
					</b:column>
					<b:column col-xs="2" col-lg="2">
					</b:column>
					<b:column col-xs="2" col-lg="2">
						<h:outputText id="itemPrice" value="#{item.price} €" />
					</b:column>
					<b:column col-xs="2" col-lg="2">
						<b:commandButton look="danger" value="-"
							action="#{mbPurchase.deleteItem(item)}" ajax="true"
							update="@form totalPrice" style="outline:none" />
					</b:column>
				</b:row>
			</c:forEach>
			<b:row>
				<b:message id="cartEmpty" for="cartEmpty" />
			</b:row>
			<b:row style="margin-top: 39px">
				<b:column col-xs="3" col-lg="3">
					<p>TOTAL(TTC)</p>
				</b:column>
				<b:column col-xs="7" col-lg="7">
				</b:column>
				<b:column col-xs="2" col-lg="2">
					<h:outputText id="totalPrice"
						value="#{mbPurchase.cart.totalAmount} €" />
				</b:column>
			</b:row>
			<b:row style="margin-top: 10px">
				<b:column col-xs="10" col-lg="10">
				</b:column>
				<b:column col-xs="2" col-lg="2" style="padding-left:0">
					<b:commandButton style="color:black; font-size:16px; outline:none"
						value="Valider" look="warning" dismiss="modal"
						action="#{mbPurchase.validateCart()}"
						rendered="#{mbPurchase.CartNotEmpty()}" />
					<b:commandButton style="color:black; font-size:16px; outline:none"
						value="Valider" look="warning" dismiss="modal" disabled="true"
						rendered="#{mbPurchase.CartEmpty()}" />
				</b:column>
			</b:row>
		</b:form>
	</b:modal>


	<b:navBar brand-img="/resources/pictures/logo1.png"
		brandHref="index.xhtml" fluid="true"
		brand-img-style-class="logoNavbar" style="margin:0">
		<f:facet name="kebab" class="navbar">
			<span class="fa fa-chevron-right"></span>
		</f:facet>
		<b:navbarLinks>
			<b:navLink value="Nos produits" icon-awesome="cutlery"
				href="index.xhtml"></b:navLink>
		</b:navbarLinks>
		<b:navbarLinks pull="right">
			<b:dropMenu value="Mon compte" id="dropMenuAccount"
				icon-awesome="user">
				<b:form>
					<b:commandButton value="Connexion" action="#{mbLogin.connexion()}"
						rendered="#{mbLogin.isDisconnected()}" />
					<b:commandButton look="link" value="Se déconnecter"
						action="#{mbLogin.disconnect()}"
						rendered="#{mbLogin.isConnected()}" style="outline:none" />
				</b:form>
			</b:dropMenu>
			<b:navLink value="" href="#">
				<a href="#amodal" data-toggle="modal" style="margin-top: -32px"><b:icon
						value="shopping-cart" /> Mon panier</a>
			</b:navLink>
		</b:navbarLinks>
	</b:navBar>


	<div class="container" style="width: 100%; padding: 0">
		<ui:insert name="content"></ui:insert>
	</div>

</h:body>


</html>

