<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/archProduct.xhtml">

	<ui:define name="head">
		<title>#{mbPurchase.category.name}</title>
	</ui:define>

	<ui:define name="content">
		<h1 class="titleCategory">#{mbPurchase.category.name}</h1>
		<b:form>
			<b:row>
				<ui:repeat value="#{mbPurchase.allProductsByCategory}" var="product">
					<b:column col-xs="6" col-lg="4" class="article" >
						<b:image class="productImage" library="pictures" name="#{product.picture}"
						style="width:100%"/>
						<h4 class="productTitle">
							<b:commandButton value="#{product.name}"
								action="#{mbPurchase.fetchProductDetails(product)}" style="outline:none"/>
						</h4>
					</b:column>
				</ui:repeat>
			</b:row>
		</b:form>
	</ui:define>

</ui:composition>
</html>