<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<title>Identification</title>
	<h:outputStylesheet library="css" name="style.css" position="last" />
	<f:metadata>
		<f:event listener="#{mbLogin.disconnect()}" type="preRenderView"></f:event>
	</f:metadata>
</h:head>
<h:body>

	<div id="navConnexion">
     <b:image class="logoPictureConnexion" library="pictures" name="logo1.png"/>
	</div>
		
	<b:container>
				<b:form id="loginForm">
					<b:row>
						<b:column col-xs="4" col-lg="4"></b:column>
						<b:column col-xs="4" col-lg="4">
							<h2>Connectez-vous</h2>
							<b:inputText  label="E-mail:" labelStyle="width:80px"  placeholder="Email" 
								value="#{mbLogin.email}">
						      <f:facet name="prepend">
						        <b:icon name="user" />
						      </f:facet>
						    </b:inputText>
						</b:column>
						<b:column col-xs="4" col-lg="4"></b:column>
					</b:row>
					<b:row>
						<b:column col-xs="4" col-lg="4"></b:column>
						<b:column col-xs="4" col-lg="4">
							<b:inputSecret  label="Mot de passe:" labelStyle="width:80px" placeholder="Mot de passe"
								value="#{mbLogin.password}">
								<f:facet name="prepend">
									<b:iconAwesome name="key" />
								</f:facet>
							</b:inputSecret>
						</b:column>
						<b:column col-xs="4" col-lg="4"></b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:message id="loginError" for="loginError"  />
						</b:column>
					</b:row>
					<b:row>
						<b:column col-xs="4" col-lg="4"></b:column>
						<b:column col-xs="4" col-lg="4">
							<a href="#">Mot de passe oublié ?</a>
						</b:column>
						<b:column col-xs="4" col-lg="4"></b:column>
					</b:row>
					<b:row>
						<b:column col-xs="4" col-lg="4"></b:column>
						<b:column col-xs="4" col-lg="4">
							<b:commandButton style-class="cat-width-100" value="Connexion"
								action="#{mbLogin.connect()}" style="outline:none"/>
						</b:column>
						<b:column col-xs="4" col-lg="4"></b:column>
					</b:row>
				</b:form>
	</b:container>
</h:body>
</html>