<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/arch.xhtml">

	<ui:define name="head">
		<title>Finalisation de la commande</title>
	</ui:define>

	<ui:define name="content">
	<div class="finalizePurchase">
		<h2>Finalisez votre commande</h2>
		<br/>
		<br/>
		<b:form>
			<b:formGroup>
				<b:row>
					<p>Choisissez votre mode de commande</p>
					<b:column col-xs="4" col-lg="4"></b:column>
					<b:selectOneMenu value="#{mbPurchase.selectOneDeliveryMode}" col-xs="4" col-lg="4">
						<f:selectItem itemLabel="Sélectionner" itemValue="" />
						<f:selectItems value="#{mbPurchase.allDeliveryModes}" var="deliveryMode" itemLabel="#{deliveryMode.name}" itemValue="#{deliveryMode}" />	
					</b:selectOneMenu> 
					<b:column col-xs="4" col-lg="4"></b:column>
				</b:row>
				<b:row>
					<p>Choisissez votre moyen de paiement</p>
					<b:column col-xs="4" col-lg="4"></b:column>
					<b:selectOneMenu value="#{mbPurchase.selectOnePaymentMethod}" col-xs="4" col-lg="4">
						<f:selectItem itemLabel="Sélectionner" itemValue="" />
						<f:selectItems value="#{mbPurchase.allPaymentMethod}" var="paymentMethod" itemLabel="#{paymentMethod.name}" itemValue="#{paymentMethod}" />	
					</b:selectOneMenu> 
					<b:column col-xs="4" col-lg="4"></b:column>
				</b:row>
			</b:formGroup>
			<b:commandButton value="Valider" action="#{mbPurchase.validatePurchase()}" style="outline:none"/>
		</b:form>
	</div>
	</ui:define>
</ui:composition>
</html>