<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui">
	  

	<ui:composition template="/archProduct.xhtml">
	
	<ui:define name="head">
		<title>#{mbPurchase.productSelected.name}</title>
	</ui:define>
	
	<ui:define name="content">
		<b:form>
			<b:row class="productDetails">
				<b:column col-xs="12" col-lg="6">
				<b:image library="pictures" name="#{mbPurchase.productSelected.picture}" style="width:100%" class="productDetailsPicture" />
				</b:column>
				<b:column col-xs="12" col-lg="6">
				<h2 class="productDetailsTitle">#{mbPurchase.productSelected.name}</h2>
				<p class="productDetailsDescription">#{mbPurchase.productSelected.description}</p>
				<p>#{mbPurchase.productSelected.price} €</p>
            	<div class="quantity">
	                <p:outputLabel for="@next" value="Quantité" class="quantityTitle"/>
	                <p:spinner id="vertical" value="#{mbPurchase.quantity}" buttons="vertical"
	                           upButtonStyleClass="ui-button-secondary" downButtonStyleClass="ui-button-secondary" min="1" max="50"/>
          		</div>
	 			<b:commandButton look="warning" value="Ajouter au panier"  action="#{mbPurchase.addToCart()}" style="outline:none"/>
				</b:column>
			</b:row>
		</b:form>
	</ui:define>
	
	</ui:composition>
</html>